#container {
    margin-top: 8rem;

    p {
        margin-left: 4rem;
        margin-right: 4rem;
        padding-top: 3rem;
    }
}

.confirm {
    margin-left: 36%;
    background: green;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    outline: none;
    font-size: 1rem;
}

.cancel {
    font-size: 1rem;
    border: none;
    background: white;
    outline: none;
}

.modal-background {
    background: rgba(0,0,0,0.3);
    position: relative;
}

.modal {
    border-radius: 34px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: absolute;
    background: white;
    top: 25%;
    bottom: 25%;
    right: 25%;
    left: 25%;

    h3 {
        margin-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
    }
}

span {
    float: right;
    margin-right: 6rem;
}

input {
    float: right;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    margin-right: 3rem;

    a {
        text-decoration: none;
    }
}

h1 {
    text-align: center;
}
